/*
 * SENA GDF - Bootstrap Icons Font Fix
 * Sobrescribe la ruta de fuente para funcionar con Django Static Files
 * Las fuentes deben estar en: static/sena/css/fonts/
 */
@font-face {
    font-display: block;
    font-family: "bootstrap-icons";
    src: url("fonts/bootstrap-icons.woff2?dd67030699838ea613ee6dbda90effa6") format("woff2"),
         url("fonts/bootstrap-icons.woff?dd67030699838ea613ee6dbda90effa6") format("woff");
}
